.profileBtn {
    margin: 0 35px 0 10px !important;
    @media screen and (max-width:1024px){
        margin: 0 25px 0 10px !important;
    }
    @media screen and (max-width:600px){
        margin: 0 15px 0 10px !important;
    }
}
.feature-topbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.top-header{
    position: relative !important;
    z-index: 0 !important;
}
.topbar-links{
    .v-btn{
        &:hover{
            background-color: rgba(var(--v-theme-primary));
        }
    }
}